body{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 270px;
    max-width: 960px;
    min-width: 769px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.images{
    width: 10%;
    height: 25px;
    padding: 5% 20% 5% 5%;
}

.right{
    display: flex;
    align-items: center;
    flex-direction: row;
        padding: 0 5% 0 0;
}

.contents{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.contents li{
    font-size: 50% ;
    height: 16px;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #C8C8C8;
}

.icon{
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin: 0 auto;
}

.design-main{
    width: 100%;
    height: 420px;
}
.design{
    width: 100%;
    height: 420px;
}

.contents-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin-top: 80px;
    padding: 0 57px 0 57px;
}

.contents-about2{
    font-weight: bold;
    font-size: 21.9px;
    width: 66px;
    height: 27px;
}

.big{
    display: flex;
    flex-direction: column;
    padding-top: 31px;
}

.title{
    margin-top: 30px;
}

.contents1{
    margin: 30px 0 0 0;
}

.text{
    margin-top: 30px;
}

.contents-works2{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    padding: 0 57px 0 57px;
}

.contents-works3{
    font-weight: bold;
    font-size: 21.9px;
    margin-top: 50px;
    width: 66px;
    height: 27px;
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
}

.image-container img {
    width: 30%;
    margin-bottom: 23px;
}

.contents-news2{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 960px;
    width: 100%;
}

.contents-newstitle{
    font-weight: bold;
    font-size: 21.9px;
    width: 66px;
    height: 27px;
}

.news-main{
    width: 100%;
    border-top: 1px solid #C8C8C8;
    margin-top: 30px;
}

.news-main1{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #C8C8C8;
    font-size: 14px;
}

.news-main2{
    padding: 15px;
    width: 20%;
}

.news-main3 {
    padding: 15px;
    width: 80%;
}

.contents-contact3{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 960px;
    margin-bottom: 130px;
}

.contents-contact-h2{
    font-weight: bold;
    font-size: 21.9px;
    width: 66px;
    height: 27px;
}

.contact-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-name{
    width: 10%;
}

.name-box{
    height: 60px;
    width: 80%;
}

.input-text{
    width: 100%;
    height: 35px;
}

.contact-mail{
    width: 10%;
}

.mail-box{
    height: 60px;
    width: 80%;
}

.input-email{
    width: 100%;
    height: 35px;
}

.contact-message{
    width: 10%;
}

.message-box{
    height: 174px;
    width: 80%;
}

.textarea-message{
    width: 100%;
    height:174px;
}

.button-main{
    display: flex;
    display: block;
    width: 200px;
    height: 52px;
    margin: 10px;
    background-color: black;
    color: white;
    border: solid 1px black;
    font-size: 14px;
}

.button-main:hover {
    background-color:white;
    color: black;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 7.1px;
}

@media screen and (max-width: 768px){
        /*　画面サイズが768pxからはここを読み込む　*/

.header{
    max-width: 768px;
    min-width: 391px;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-between;
}

.right{
    padding: 22px;
}

.design{
    object-fit: cover;
    width: 100%;
}

.main{
    margin: 0;
    max-width: 768px;
    min-width: 391px;
}


.design-main{
    height: 420px;
}

.design{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.contents-main{
    padding: 0 30px 0 30px;
}

.contents-works2{
    padding: 0 30px 0 30px;
}

.image-container{
    width: 100%;
}

.news-main{
    width: 85%;
}

.news-main2{
    width: 20%;
    border-bottom: none;
    font-size: 14px;
}

.news-main3 {
    width: 80%;
    border-top: none;
    font-size: 14px;
}


.contents-contact3{
    padding: 0 30px 0 30px;
}
}

@media screen and (max-width: 390px){
        /*　画面サイズが390pxからはここを読み込む　*/

.header{
    display: flex;
    flex-direction: column;
    height: 100px;
    margin:0;
    justify-content: center;
    max-width: 390px;
    min-width: auto;
}

.images{
    height: 36px;
    width: 120px;
    padding: 0;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.contents{
    padding-left: 0;
}

.design-main{
    height: 420px;
}

.design{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.main{
    max-width: 390px;
    min-width: auto;
    padding: 0 15px 0 15px ;
}

.contents-main{
    padding: 0;
    margin-top: 74px;
}

.big{
    width: 100%;
    font-size: 13.3px
}

.title{
    margin: 0;
}

.contents-works2{
    margin: 0;
    padding: 0;
    max-width: 390px;
    min-width: auto;
    width: 100%;
}

.image-container{
    display: flex;
    flex-direction: column;
}

.image-container img{
    width: 100%;
}

.contents-news2{
    max-width: 390px;
}
.news-main{
    width: 100%;
}
.news-main1{
    display: flex;
    flex-direction:column;
    padding: 15px;
}

.news-main2 {
    padding: 0;
    border-bottom: none;
}

.news-main3 {
    padding: 0;
    width: 100%;
    border-top: none;
}

.contents-contact3{
    width: 100%;
    padding: 0;
    max-width: 390px;
    margin-bottom: 70px;
}
.contents-contact2{
    margin: 0;
}

.contact-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-name{
    width: 15%;
}

.name-box{
    width: 100%;
    margin: 0;
    padding: 0;
}

.contact-mail{
    width: 15%;
}

.mail-box{
    width: 100%;
    margin: 0;
    padding: 0;
}

.contact-message{
    width: 15%;
}

.message-box{
    width: 100%;
    margin: 0;
    padding: 0;
}
}