body{
    margin: 0;

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 270px;
    max-width: 960px;
    margin: 0 15% 0 15%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.images{
    width: 10%;
    height: 10%;
    padding: 15%;
}

.right{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    height: 270px;
    margin: 0 auto;
    padding: 20px;
}

.contents{
    list-style: none;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contents li{
    font-size: 12.9px;
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #C8C8C8;
}

.icon{
    width: 20px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.design{
    height: 420px;
    width: 100%;
}
.contents-main{
    display: flex;
    flex-direction: column;
    margin:84px 240px;
    align-items: center;
    max-width: 960px;
}

.contents-about2{
    font-weight: bold;
    font-size: 21.9px;
    padding-bottom: 1px;
}

.big{
    display: flex;
    flex-direction: column;
    padding-top: 35px;
}

.title{
    margin-bottom: 30px;
}

.contents1{
    margin: 30px auto;
}

.text{
    margin-top: 30px;
}

.contents-works2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 15% 10px 15%;
}

.works2{
    font-weight: bold;
    font-size: 27px;
    margin: 50px auto 66px;
    font-size: 21.9px;
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 5% 10px 5%;
}

.image-container img {
    width: 30%;
    margin-bottom: 23px;
}

.contents-news2{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 960px;
    margin: 80px 15% 80px 15%;
}

.news-main{
    width: 100%;
    border-top: 1px solid #C8C8C8;
}

.news-main1{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #C8C8C8;
}

.news-main2{
    padding: 15px;
    width: 20%;
    font-size: 14px;
}

.news-main3 {
    margin: 0;
    padding: 15px;
    width: 80%;
    font-size: 14px;
}

.contents-contact3{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 960px;
    margin: 80px 15% 80px 15%;
}

.contact-main{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: space-between;
    width: 100%;
}

.contact-name{
    width: 10%;
}

.name-box{
    height: 60px;
    width: 80%;
}

.input-text{
    width: 100%;
    height: 35px;
}

.contact-mail{
    width: 10%;
}

.mail-box{
    height: 60px;
    width: 80%;
}

.input-email{
    width: 100%;
    height: 35px;
}

.contact-message{
    width: 10%;
}

.message-box{
    height: 120px;
    width: 80%;
}

.textarea-message{
    width: 100%;
    height:140px;
}

.button-main{
    display: block;
    width: 200px;
    height: 52px;
    margin: 30px;
    background-color: black;
    color: white;
    border: solid 1px black;
}

.button-main:hover {
    background-color:white;
    color: black;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px){
        /*　画面サイズが768pxからはここを読み込む　*/

.header{
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 270px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.images{
    padding: 0 0 0 30px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    padding: 0;
}

.design-main{
    width: 100%;
    height: 420px;
}

.design{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.contents-main{
    margin: 84px 0 0 0;
    padding: 0 30px 0 30px;
}

.contents-works2{
    margin: 84px 0 0 0;
    padding: 0 30px 0 30px;
}

.image-container{
    width: 100%;
}

.contents-news2{
    margin: 84px 0 0 0;
    padding: 0 30px 0 30px;
}

.news-main{
    width: 100%;
}

.news-main2{
    width: 20%;
    border-bottom: none;
    font-size: 14px;
}

.news-main3 {
    width: 80%;
    border-top: none;
    font-size: 14px;
}

.contents-contact3{
    margin: 84px 0 0 0;
    padding: 0 30px 0 30px;
}

.button-main{
    margin-bottom: 130px;
}

}

@media screen and (max-width: 390px){
        /*　画面サイズが390pxからはここを読み込む　*/

.header{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100px;
    padding: 0 30px 0 30px;
    margin:30px 0 0 0;
    align-items: center;
    justify-content: center;
}

.images{
    height: 36px;
    width: 120px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.design-main{
    width: 100%;
    height: 420px;
}

.design{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.contents-main{
    margin:70px 0 0 0 ;
    padding: 0 15px 0 15px;
}

.big{
    width: 100%;
    font-size: 13.3px
}

.title{
    margin: 0;
}

.contents-works2{
    margin: 0;
}

.image-container{
    display: flex;
    flex-direction: column;
}

.image-container img{
    width: 100%;
}

.contents-news2{
    margin: 0;
    padding: 0 15px 0 15px;
}

.news-main1{
    display: flex;
    flex-direction:column;
}

.news-main2 {
    padding: 0;
    border-bottom: none;
}

.news-main3 {
    padding: 0;
    width: 100%;
    border-top: none;
}

.contents-contact2{
    margin: 0;
}

.contact-main{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.contact-name{
    width: 15%;
}

.name-box{
    width: 100%;
    margin: 0;
    padding: 0;
}

.contact-mail{
    width: 15%;
}

.mail-box{
    width: 100%;
    margin: 0;
    padding: 0;
}

.contact-message{
    width: 15%;
}

.message-box{
    width: 100%;
    margin: 0;
    padding: 0;
}
}