body{
  background-color: burlywood;
}
h1 {
  font-size: 50px;
  font-weight: 100;
  font-family:fantasy;
  text-align: left;
  color: yellow;
}
p{
  text-align: right;
  text-decoration:underline;
  letter-spacing: 15px;
}
.bg {
  background-image: url("https://placehold.jp/150x150.png");

  width: 150px;
  height: 150px;
}
table {
  border-spacing: 10px;
}
td {
  border: 1px solid black;
}
button:hover{
    cursor: pointer;
}
ul {
  list-style-type: square;
}
.image-box {
  position: relative;
}
.image1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.image2 {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}